extends layout
block content

  #wrapper
      // Sidebar
      #sidebar-wrapper
          ul.sidebar-nav
              li.sidebar-brand
                  a(href='#')
                      | Start Here
              li
                  a(href='#') Most Popular
              li
                  a(href='#') Recently Added

      // /#sidebar-wrapper
      // Page Content
      #page-content-wrapper
          .container-fluid
              .row
                  .col-lg-12
                      h1 CloudWiki
                      h2 Search Articles
                      input#search.form-control(type='text')
                      br
                      button#searchButton.btn.btn-primary(type='button') Search



      // /#page-content-wrapper
  // /#wrapper
  // jQuery
  script(src='js/jquery.js')
  // Bootstrap Core JavaScript
  script(src='js/bootstrap.min.js')
  // Menu Toggle Script
  script.
      $("#menu-toggle").click(function (e) {
          e.preventDefault();
          $("#wrapper").toggleClass("toggled");
      });
