@import "compass/css3";

body {
  font: 14px 'Source Sans Pro', "Lucida Grande", Helvetica, Arial, sans-serif;
}

a {
  color: #00B7FF;
}

#editArticle {
  margin: 10px 0;
}

@media (min-width: 768px) {
  .navbar-collapse.collapse {
    margin-bottom: 0;
  }
}
